{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            {% for seasons in season %}
             <h2> Saison  {{ seasons.number }}</h2>
                {{ seasons.year }}
                {{ seasons.description }}
            {% endfor %}
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>

        {% for episode in episodes %}
       <h3> Episode {{ episode.number }} : {{ episode.title }}</h3>

        {{ episode.synopsis }}
        {% endfor %}
    </div>
{% endblock %}